<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="15" >
<title>GAMEPING-CHECKER</title>
<meta charset="UTF-8">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Code+Pro:wght@200&display=swap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="static/script.js"></script>
</head>
<body>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="animate-charcter">GAMEPING</h3>
    </div>
  </div>
</div>
    <div class="w3-container w3-center">
  <span class ='description'>Click the below button to check what ping you will get in games on your current network</span>
</div>

    <br><br><br><span class="w3-center w3-padding-large w3-white w3-xlarge w3-wide w3-animate-opacity"><a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">Check Pings</a></span>
  </div>
</div>
<!-- Container (About Section) -->
<div class = "abc w3-center " id="about">
  <h3 class="w3-center">GAME-PINGS</h3>
  {% for i in data %}
  <p><br>{{ i }}<br></p>
  {% endfor %}
  <span class="w3-center w3-padding-large w3-blue w3-xlarge w3-wide w3-animate-opacity"><a href="#about" class="w3-bar-item w3-button" onclick="refreshPage()">Refresh Page</a></span>
</div>

</body>
</html>
